<!DOCTYPE html>
<html lang="en">

<%-include ('partials/head') %>

<body>

    <%-include('partials/header')%>
   
    <main id="formulario-login">
        <form class="formularios"action="/" method="get">
        <div class="elecciones">
            <input type="text" name="usuario"placeholder="Nombre de usuario">
        </div>
        <div class="elecciones" >
            <input class="text-field" type="password"name="Contrasenia"placeholder="Contrasenia">
        </div>
        <div>   
            <button class="botonIngresar" type="submit">Ingresar</button>
            </div>
            </form>
    </main>

   
<%-include('partials/footer')%>
</body>

</html>